{% extends "base_test.html" %}
{% block body %}
    <h1>Hello!</h1>
    {% if 'username' in session %}
        <p>こんにちは!<strong>{{session['username']}}</strong>!</p>
    {% else %}
        <p class='login'>ログインが必要です:</p>
        <form action="{{url_for('index')}}" method="post">
            <p class="username">username:<br />
            <input type="text" name="username" /></p>
            <p class="passwd">password:<br />
            <input type="password" name="passwd" /></p>
            <div class="control-group">
            <div class="controls">
            <input type="submit" value="submit" class="btn">
            </div>
            </div>

        </form>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}
{% endblock %}
